@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F5EEE6;
}

.input_letter{
    height: 55px;
    background-color: transparent;
    outline: none;
    width: full;
    color: #F5EEE6;
    width: 300px;
}

.input_letter::placeholder{
    color: #F5EEE6;
}

.input_letter:focus{
    outline: none;
    border: none;
}

.service{
    background: #000;
}